body {
  font-family: Arial, sans-serif;
  background-color: #B3CDD6;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

h1 {
  color: #333;
  text-align: center;
}

.note {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid #13B7AE;
}

.note:nth-child(even) {
  background-color: #13B7AE;
}

.note h2 {
  color: #13B7AE;
}

.note:nth-child(even) h2 {
  color: white;
}

.note p {
  color: #13B7AE;
  line-height: 1.5;
}

.note:nth-child(even) p {
  color: white;
}

.form-container {
  width: 300px;
  margin: 0 auto;
}

.form-container label,
.form-container input,
.form-container textarea {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.textfield {
  padding: 10px;
  border: none;
  /* border-radius: 4px; */
  font-size: 14px;
  color: #333;
  width: 200px;
}
.title {
  font-size: 18px;
  /* border-radius: 4px; */
}

.textfield:focus {
  outline: none;
}

.textfield::placeholder {
  color: #999;
}

textarea.note {
  background-color: #13B7AE;
  color: white;
  padding: 16px 12px;
  width: 100%;
  height: 40vh;
  scrollbar-width: none;
  display: block;
  font-size: 20px;
  line-height: 1.5;
  box-sizing: border-box;
}

input.note  {
  background-color: white;
  color: #13B7AE;
  padding: 16px 12px;
  width: 100%;
  resize: none;
  scrollbar-width: none;
  display: block;
  font-size: 32px;
  font-weight: bold;
  box-sizing: border-box;
}

textarea.note:active,
textarea.note:focus,
input.note:active,
input.note:focus {
  outline: none;
}

textarea.note::-webkit-scrollbar {
  display: none;
}